<a href="https://colab.research.google.com/github/BrycenHarris/Harris_GEOG312_Labs/blob/main/lab_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![image](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/master/labs/lab_03.ipynb)
[![image](https://binder.pangeo.io/badge_logo.svg)](https://gishub.org/geog312-pangeo)

**Firstname Lastname**

In [ ]:
from datetime import datetime

now = datetime.now()
print(f"Submitted time: {now}")

## Question 1
**Pizzas:** Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

Modify your for loop to print a sentence using the name of the pizza instead of printing just the name of the pizza. For each pizza you should have one line of output containing a simple statement like *I like pepperoni pizza.*

In [ ]:
pizzas = ['pepperoni', 'meatlovers', 'cheese']
for pizza in pizzas:
     print(f"I like {pizza.title()} pizza!")

I like Pepperoni pizza!
I like Meatlovers pizza!
I like Cheese pizza!

Add a line at the end of your program, outside the for loop, that states how much you like pizza. The output should consist of three or more lines about the kinds of pizza you like and then an additional sentence, such as *I really love pizza!*

In [ ]:
pizzas = ['pepperoni', 'meatlovers', 'cheese']
for pizza in pizzas:
     print(f"I like {pizza.title()} pizza!")

print(f"I really love to eat pizza.")

I like Pepperoni pizza!
I like Meatlovers pizza!
I like Cheese pizza!
I really love to eat pizza.

## Question 2
**Animals:** Think of at least three different animals that have a common characteristic. Store the names of these animals in a list, and then use a for loop to print out the name of each animal.

Modify your program to print a statement about each animal, such as *A dog would make a great pet.*

In [ ]:
animals = ['dog', 'cat', 'bird']
for animal in animals:
     print(f"A {animal.title()} would make a great pet!")

A Dog would make a great pet!
A Cat would make a great pet!
A Bird would make a great pet!

Add a line at the end of your program stating what these animals have in common. You could print a sentence such as *Any of these animals would make a great pet!*

In [ ]:
animals = ['dog', 'cat', 'bird']
for animal in animals:
     print(f"A {animal.title()} would make a great pet!")

print(f"Any of these animals would make agreat pet!")

A Dog would make a great pet!
A Cat would make a great pet!
A Bird would make a great pet!
Any of these animals would make agreat pet!

## Question 3
**Counting to Twenty:** Use a for loop to print the numbers from 1 to 20, inclusive.

In [ ]:
for value in range(1, 21):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## Question 4
**One Hundred:** Make a list of the numbers from one to one hundred, and then use a for loop to print the numbers.

In [ ]:
numbers = list(range(1, 101))
for numbers in range(1, 101):
    print(numbers)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Question 5
**Summing a Hundred:** Make a list of the numbers from one to one million, and then use `min()` and `max()` to make sure your list actually starts at one and ends at one hundred. Also, use the sum() function to see how quickly Python can add a hundred numbers.

In [ ]:
numbers = list(range(1, 1000001))
print(min(numbers))
print(max(numbers))
sum(numbers)
#I dont know how to force the Max() to only go to 100 because it not in the lecture nor your video

1
1000000

500000500000

## Question 6
**Odd Numbers:** Use the third argument of the `range()` function to make a list of the odd numbers from 1 to 20. Use a `for` loop to print each number.

In [ ]:
even_numbers = list(range(1, 21))
for even_numbers in range(2, 21, 2):
  print(even_numbers)

2
4
6
8
10
12
14
16
18
20

## Question 7
**Threes:** Make a list of the multiples of 3 from 3 to 30. Use a `for` loop to print the numbers in your list.

In [ ]:
multiples = []

for numbers in range(3, 31, 3):
    multiples.append(numbers)
print(multiples)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

## Question 8
**Cubes:** A number raised to the third power is called a cube. For example, the cube of 2 is written as 2 ** 3 in Python. Make a list of the first 10 cubes (that is, the cube of each integer from 1 through 10), and use a for loop to print out the value of each cube.

In [ ]:
cube = [value**3 for value in range(1, 11)]
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Question 9
**Cube Comprehension:** Use a list comprehension to generate a list of the first 10 cubes.

In [1]:
cube = [value**3 for value in range(1, 11)]
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Question 10
**Slices:** Using one of the programs you wrote in this lab, add several lines to the end of the program that do the following:

Print the message *The first three items in the list are:*. Then use a slice to print the first three items from that program’s list.

In [3]:
pizzas = ['pepperoni', 'meatlovers', 'cheese', 'pineapple', 'vegan' ]
print(pizzas[0:3])

['pepperoni', 'meatlovers', 'cheese']

Print the message *Three items from the middle of the list are:*. Use a slice to print three items from the middle of the list.

In [7]:
pizzas = ['pepperoni', 'meatlovers', 'cheese', 'pineapple', 'vegan' ]
print(pizzas[1:4])

['meatlovers', 'cheese', 'pineapple']

Print the message *The last three items in the list are:*. Use a slice to print the last three items in the list.

In [6]:
pizzas = ['pepperoni', 'meatlovers', 'cheese', 'pineapple', 'vegan' ]
print(pizzas[2:])

['cheese', 'pineapple', 'vegan']

## Question 11
**My Pizzas, Your Pizzas:** Start with your program from Question 1. Make a copy of the list of pizzas, and call it friend_pizzas. Then, do the following:

Add a new pizza to the original list.

In [10]:
pizzas = ['pepperoni', 'meatlovers', 'cheese']
friend_pizzas = ['pepperoni', 'meatlovers', 'cheese', 'pineapple']
for pizza in pizzas:
     print(f"I like {pizza.title()} pizza!")

I like Pepperoni pizza!
I like Meatlovers pizza!
I like Cheese pizza!

Add a different pizza to the list `friend_pizzas`.

In [11]:
pizzas = ['pepperoni', 'meatlovers', 'cheese']
friend_pizzas = ['pepperoni', 'meatlovers', 'cheese', 'pineapple', 'vegan' ]
for pizza in pizzas:
     print(f"I like {pizza.title()} pizza!")

I like Pepperoni pizza!
I like Meatlovers pizza!
I like Cheese pizza!

Prove that you have two separate lists. Print the message *My favorite pizzas are:*, and then use a for loop to print the first list. Print the message *My friend’s favorite pizzas are:*, and then use a for loop to print the second list. Make sure each new pizza is stored in the appropriate list.

In [19]:
pizzas = ['pepperoni', 'meatlovers', 'cheese']
friend_pizzas = ['pepperoni', 'meatlovers', 'cheese', 'pineapple', 'vegan' ]

print('My favorite pizzas are.')

for pizza in pizzas:
     print(f"I like {pizza.title()} pizza!")

print('My friends favorite pizzas are.')

for friend_pizzas in pizzas:
     print(f"My friend likes {friend_pizzas.title()} pizza!")

My favorite pizzas are.
I like Pepperoni pizza!
I like Meatlovers pizza!
I like Cheese pizza!
My friends favorite pizzas are.
My friend likes Pepperoni pizza!
My friend likes Meatlovers pizza!
My friend likes Cheese pizza!

## Question 12
**Buffet:** A buffet-style restaurant offers only five basic foods. Think of five simple foods, and store them in a tuple.

Use a for loop to print each food the restaurant offers.

In [30]:
foods = ('Steak', 'Chicken', 'Soup', 'Rice', 'Green Beans')
for food in foods:
     print(food)

Steak
Chicken
Soup
Rice
Green Beans

Try to modify one of the items, and make sure that Python rejects the change.

In [36]:
foods = ('Steak', 'Chicken', 'Soup', 'Rice', 'Green Beans')
foods[1] = 'Shrimp'
for food in foods:
     print(food)

TypeError: ignored

The restaurant changes its menu, replacing two of the items with different foods. Add a line that rewrites the tuple, and then use a for loop to print each of the items on the revised menu.

In [37]:
foods = ('Steak', 'Chicken', 'Soup', 'Rice', 'Green Beans')
print("Original Food:")
for food in foods:
     print(food)

foods = ('Steak', 'Chicken', 'Pork', 'Rice', 'Shrimp')
print("New Food:")
for food in foods:
     print(food)

Original Food:
Steak
Chicken
Soup
Rice
Green Beans
New Food:
Steak
Chicken
Pork
Rice
Shrimp